<?xml version="1.0"?>
<launch>


    <include file="$(find tams_ur5_bartender_image_processing)/launch/publishDemoBottles.launch"/>

    <!-- Startup manipulation -->
    <include file="$(find tams_ur5_bartender_manipulation)/launch/manipulation.launch"/>
    
    <!-- Startup coordination -->
    <include file="$(find tams_ur5_bartender_coordination)/launch/coordination.launch"/>

    <!-- Startup GUI -->
    <include file="$(find tams_ur5_bartender_gui)/launch/rosbridge.launch"/>


</launch>
